<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.favicon.pro/favicon/6683logo1.ico">
	<link rel="stylesheet" href="style1.css" >
    <title>Erreur 400</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        div{
            text-align: center;
            }
        pre{
            font-size: 25px;
            color: red;
            font-weight: bold;
            text-align: center;
        }
        p{
            margin-top: 10px;
            font-size: 22px;
        }
        img{
            width: 25%;
            height: 25%;
        }
    </style>
</head>
<body>
    <div>
    <pre>
 ______                                                             
|  ____|                                     _  _      ___     ___  
| |__     _ __   _ __    ___    _ __        | || |    / _ \   / _ \ 
|  __|   | '__| | '__|  / _ \  | '__|       | || |_  | | | | | | | |
| |____  | |    | |    | (_) | | |          |__   _| | |_| | | |_| |
|______| |_|    |_|     \___/  |_|             |_|    \___/   \___/ 
    </pre>
    <p>Bad Request,<br> Click on the GIF to return back</p>
    <a href="/"><img src="https://cdn-images-1.medium.com/max/1600/1*_wxwNuxszA6vwQIUMbF-fw.gif" alt="gif golang"></a>
    </div>
    
</body>
</html>