
Dashboard
Issues
Pull Requests
Milestones
Explore
Notifications
 Create…
 Profile and Settings…
 BAUMEUNIER / ascii-art-web
Unwatch
1
Star
0
Fork
0
Code
Issues
0
Pull Requests
0
Releases
0
Wiki
Activity
Settings
No Description
Manage Topics
 54 Commits
 1 Branch
 893KB
 Branch: master 
ascii-art-web/src/templates/404.html
47 lines
1.4KB
Raw
Permalink
Blame
History
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.favicon.pro/favicon/6683logo1.ico">
	<link rel="stylesheet" href="style1.css" >
    <title>Erreur 404</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        div{
            text-align: center;
            }
        pre{
            font-size: 25px;
            color: red;
            font-weight: bold;
            text-align: center;
        }
        p{
            margin-top: 10px;
            font-size: 22px;
        }
        img{
            width: 25%;
            height: 25%;
        }
    </style>
</head>
<body>
    <div>
    <pre>
 ______                                                               
|  ____|                                     _  _      ___    _  _    
| |__     _ __   _ __    ___    _ __        | || |    / _ \  | || |   
|  __|   | '__| | '__|  / _ \  | '__|       | || |_  | | | | | || |_  
| |____  | |    | |    | (_) | | |          |__   _| | |_| | |__   _| 
|______| |_|    |_|     \___/  |_|             |_|    \___/     |_|   
    </pre>
    <p>This page doesn't exist, <br> Click on the GIF to return back</p>
    <a href="/"><img src="https://vsoch.github.io/assets/images/posts/learning-go/gophercises_jumping.gif" alt="gif golang"></a>
    </div>
    
</body>
</html>